* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
    transition: all .5s;
}

html {
    font-size: 62.5%;
    overflow: hidden;
}

img {
    max-width: 100%;
    width: 300px;
    height: 300px;
}

body {
    background: #0d1735;
}

.box-container {
    min-height: 100hv;
    width: 90%;
    margin: 10% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box-container .box {
    flex: 1 1 auto;
    min-height: 30rem;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .8);
    margin: 1rem;
    position: relative;
    cursor: pointer;
}

.box-container .box img {
    width: 25rem;
    height: 20rem;object-fit: cover;
    filter: drop-shadow(0 .5rem 1rem rgba(0, 0, 0,.8));
}

.box-container .box .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 15rem;
    background: #222;
    padding: 2rem;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15rem);
}

.box-container .box:hover .overlay {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.box-container .box .overlay .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-container .box .overlay .product-name {
    font-size: 2.5rem;
    color: #fff;
}

.box-container .box .overlay .price {
font-size: 2rem;
color: tomato;
font-weight: 800;
}

.box-container .box .overlay p {
    font-size: 1.5rem;
    padding: 1rem 0rem;
    color: #fff;
}

.box-container .box .overlay .button {
    margin-top: 1.5rem;
    display: flex;
}

.box-container .box .overlay .button a {
    font-size: 1.8rem;
    border: 1px solid #fff;
    background: springgreen;
    padding: 0.5rem;
    font-weight: 800;
    color: #fff;
    flex: 1;
    text-align: center;
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background: rgba(0, 0, 0,.8);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.popup-container .preview {
    max-width: 50rem;
    height: 50rem;
    background: #fff;
    padding: 2rem;
    border-radius: 0.8rem;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0,.8);
    overflow: auto;
    position: relative;
    display: none;
    --sb-track-color: #f2f2f2;
    --sb-thumb-color: springgreen;
    --sb-size: 1rem;
}

.popup-container .preview::-webkit-scrollbar {
    width: var(--sb-size);
}

.popup-container .preview::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 1rem;
}

.popup-container .preview::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 1rem;
}

.popup-container .preview.active {
    display: inline-block;
}

.popup-container .preview .fa-times {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
    cursor: pointer;
}

.popup-container .preview .fa-times:hover {
    transform: rotate(90deg);
}

.popup-container .preview h3 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}

.popup-container .preview p {
    font-size: 1.8rem;text-align: justify;
    margin-bottom: 1rem;
}

.popup-container .preview .buy-btn {
    width: 50%;
    display: block;
    margin: 0 auto;
    background: springgreen;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border-radius: 1rem;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, .8);
    cursor: pointer;
}